<h2>Edit Movie: {{movies.title}}</h2>

<form method="POST" action="/movies/{{movies._id}}/edit">
    <label for="title">Movie Title:
        {{!-- have the info pre-populated by giving a dynamic value --}}
        <input type="text" name="title" value="{{movies.title}}" />
    </label>

    <label for="genre">Genre:
        <input type="text" name="genre" value="{{movies.genre}}" />
    </label>

    <label for="plot">Plot:
        <input type="text" name="plot" value="{{movies.plot}}" />
    </label>

    <label for="cast">Choose Cast:</label> 
        <select name="cast" id="cast" multiple>
            {{#each allCelebs}}
                <option value="{{this._id}}">{{this.name}}</option>
            {{/each}}
        </select>
            
    <button type="submit">Edit</button>

</form>
