{{!-- Main content doesn't come wrapped in an {{#each}} --}}

<h2>{{movies.title}}</h2>
<br>
<div>
    <p>Genre: {{movies.genre}}</p>
    <p>Plot: {{movies.plot}}</p>
    <p>Cast Members:</p>
    <ul>
    {{#each movies.cast}}
        <li>
            {{ this.name }}
        </li>
    {{/each}}
    </ul>
</div>

<form action="/movies/{{movies._id}}/delete" method="POST">
<button>Delete
</button>     
</form>

<a href="/movies/{{movies._id}}/edit" method="POST">
Edit
</a>   
